
<div id="issue_badge_contents" class="notifications arrow_box">
  <div class="header" id="issue_badge_contents_header"><%= l(:label_assigned_to_me_issues) %></div>
  <!-- contents will be injected. -->
  <!-- issue list -->
  <% for issue in @limited_issues %>
      <div class="issue_badge_content">
        <%= link_to("#{issue.id} #{truncate(issue.subject.html_safe, length: 20, escape: false)}", issue_path(issue),
                    { title: "#{issue.subject} - #{format_time(issue.created_on)}" } ) %>
        <div class="metadata"><%= l(:label_project) %>: <%= issue.project %></div>
      </div>
  <% end %>
  <div>...</div>
  <div class="footer">
    <%= link_to issues_path(:set_filter => 1, :assigned_to_id => 'me', :sort => 'priority:desc,updated_on:desc') do %>
        <%= l(:label_assigned_to_me_issues) %>
    <% end %>
  </div>
</div>

